@model SIGAPPBOM.Logistica.Servicio.ViewModels.PedidoViewModel           
@{
    int itemDetalle = 0;
    var fechaCreacion = Model.FechaCreacion.ToShortDateString();
    var fechaAtencion = Model.FechaAtencion == null ? "" : string.Format("{0:d}", Model.FechaAtencion);
}
<div class="row" style="margin-left: 20px">
    <div class="well" style="background-color: transparent; width: 91%;">
        <div class="modal-header" style="text-align: center; padding-top: 0px; margin-top: -10px;">
            <h4>
                Informaci&oacute;n del Pedido de Insumos</h4>
        </div>
        <br />
        <div style="height: 40px;">
            <div class="pull-right">
                <table>
                    <tr>
                        <td>
                            <span class="label" style="font-size: 15px;">N° @Model.Id.ToString("0000000000")</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <td class="span4">
                        @Html.Label("Estado")
                        <input type="text" class="span12" disabled="disabled"  value="@Html.DisplayFor(p => p.Estado)"/>
                    </td>
                    <td class="span4">
                        @Html.Label("Creado el")
                        <input type="text" class="span12" disabled="disabled" value="@fechaCreacion"/>
                    </td>
                    <td class="span4">
                        @Html.Label("Atendido el")
                        <input type="text" class="span12" disabled="disabled" value="@fechaAtencion"/>
                    </td>
                </tr>
                <tr>
                    <td class="span4">
                        @Html.Label("Solicitante")
                        <input type="text" class="span12" disabled="disabled"  value="@Html.DisplayFor(p => p.Solicitante)"/>
                    </td>
                    <td class="span4">
                        @Html.Label("Nota de Salida")
                        <input type="text" class="span12" disabled="disabled" value="@*@Html.DisplayFor(p => p.NotaSalidaId)*@"/>
                    </td>
                    <td class="span4">
                        @Html.Label("Atendido Por")
                        <input type="text" class="span12" disabled="disabled" value="@*@Html.DisplayFor(p => p.NotaSalidaUsuario)*@"/>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td class="span10">
                        @Html.Label("Descripción")
                        <input type="text" style="width: 750px; height: auto" disabled="disabled" value="@Html.DisplayFor(p => p.Descripcion)" />
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div>
            <table class="table table-bordered table-cabecera">
                <thead>
                    <tr>
                        <th>
                            Item
                        </th>
                        <th>
                            Código
                        </th>
                        <th>
                            Artículo
                        </th>
                        <th>
                            Solicitado
                        </th>
                        <th>
                            Atendido
                        </th>
                    </tr>
                </thead>
                <tbody id="detalles-pedido">
                    @foreach (var item in Model.Detalles)
                    {
                        itemDetalle++;                          
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => itemDetalle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArticuloId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArticuloNombre)
                            </td>
                            <td style="text-align: right">
                                @Html.DisplayFor(modelItem => item.CantidadSolicitada)
                            </td>
                            <td style="text-align: right">
                                @Html.DisplayFor(modelItem => item.CantidadAtendida)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
